:root {
  --page-primary-background-color: #e5e5e5;
  --page-secondary-background-color: #2f303a;
  --page-tertiary-background-color: #f5f4fa;
  --page-quarternary-background-color: #fff;
  --object-primary-background-color: #2196f3;
  --object-secondary-background-color: #ffffff;
  --border-color: #eeeeee;
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
  --text-tertiary-color: #ffffff;
  --text-quaternary-color: #000000;
  --alpha-color: #ffffff99;
  --primary-box-shadow-color: #00000026;
  --secondary-box-shadow-color: #0000001f;
  --tertiary-box-shadow-color: #00000024;
  --quarternary-box-shadow-color: #00000033;
  --header-border-bottom-color: #ececec;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-primary-color);
}

/* CONTAINER */
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */

.header {
  background-color: var(--object-secondary-background-color);
  border-bottom: 1px solid var(--header-border-bottom-color);
  min-height: 80px;
}
.header-container {
  border-bottom: 1px solid var(--header-border-bottom-color);
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* SECTION LOGO */

.logo-color {
  color: var(--object-primary-background-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-quaternary-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

/* MENU */

.nav {
  display: flex;
  align-items: center;
}

.menu-list {
  list-style-type: none;
  display: flex;
  column-gap: 30px;

  padding-left: 0;
  --text-primary-color: #212121;
}
.menu-item {
  color: var(--text-primary-color);
}

.menu-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-primary-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--object-primary-background-color);
}

/* CONTACT */

.header-contact {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  margin-right: 371px;
}

.contact-list {
  font-weight: 500;
  color: var(--paragraf-text-color);
  display: flex;
  align-items: center;
}

.contact-item {
  font-weight: 500;
  color: var(--paragraf-text-color);
  display: flex;
  align-items: center;
}

.contact-icon-envelope {
  fill: var(--parrent-color);
  width: 16px;
}

.contact-icon-smartphone {
  fill: var(--parrent-color);
  width: 16px;
}

.contact-list a {
  color: var(--text-secondary-color);
  text-decoration: none;
}

.contact-list a:hover,
.contact-list a:focus {
  color: var(--object-primary-background-color);
}

.slogan-container {
  background-color: var(--page-secondary-background-color);
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
}

.slogan-title-container {
  color: var(--text-tertiary-color);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto;
  width: 696px;
}

.slogan-button-container {
  display: block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--object-secondary-background-color);
  background-color: var(--object-primary-background-color);
  box-shadow: 0px 4px 4px var(--primary-box-shadow-color);
  border-radius: 4px;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* ADVANTAGE */

.advantage {
  letter-spacing: 0.03em;
  font-size: 14px;
  width: 100%;
  background-color: var(--page-quarternary-background-color);
  padding-bottom: 0;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  text-align: justify;
}

.advantage-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-primary-color);
  margin-bottom: 10px;
}

.advantage-text {
  color: var(--text-secondary-color);
  line-height: 1.7;
  width: 270px;
}

/* OFFER */

.offer-section {
  background-color: var(--page-quarternary-background-color);
}

.offer-header {
  color: var(--text-primary-color);
  background-color: var(--page-quarternary-background-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.offer-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.offer-item {
  display: block;
}

.team-section {
  background-color: var(--page-tertiary-background-color);
  width: 100%;
}

.team-header {
  color: var(--text-primary-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.team-box-img {
  background-color: var(--object-secondary-background-color);
  box-shadow: 0px 2px 1px var(--quarternary-box-shadow-color),
    0px 1px 1px var(--tertiary-box-shadow-color),
    0px 1px 3px var(--secondary-box-shadow-color);
  border-radius: 0px 0px 4px 4px;
}

.team-box-item {
  display: block;
}
.team-fig-header {
  color: var(--text-primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 30px auto 10px;
}

.team-fig-text {
  color: var(--text-secondary-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 10px auto 30px;
}

/* FOOTER */

.footer {
  background-color: var(--page-secondary-background-color);
  text-decoration: none;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--text-tertiary-color);
}

.footer address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--text-tertiary-color);
  gap: 9px;
}

.address-item {
}

.address-list {
  margin-top: 20px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.address-link {
  color: var(--alpha-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  gap: 9px;
}

.address-link:hover,
.address-link:focus {
  color: var(--text-tertiary-color);
}
/*PORTFOLIO*/

.portfolio-buttons {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding-left: 0;
  margin-bottom: 50px;
}
.container-button:hover,
.container-button:focus {
  background-color: var(--object-primary-background-color);
  color: var(--object-secondary-background-color);
  box-shadow: 0px 4px 4px var(--primary-box-shadow-color);
}

.container-button {
  background-color: var(--page-tertiary-background-color);
  color: var(--text-primary-color);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  padding: 6px 22px;
}

/*OFFER*/

.photo-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;
}

.photo-item {
  display: block;
}

.project-photo {
}

.photo-border {
  letter-spacing: 0.06em;
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.photo-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.photo-text {
  color: var(--text-secondary-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
